body {
  margin: 0 auto;
  font-family: 'Satoshi', sans-serif;
  background: linear-gradient(75deg, #111111 50%, #0d0d0d 50%);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.site-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
}

.site-header.scrolled {
  background-color: #111111;
}

#Solucoes{
  height: 100%;
}

#quemSomos{
  height: 100%;
}

.texto {
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 1px #fff, 0 0 30px rgb(255, 255, 255);
}

.container {
  max-width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  overflow: hidden;
}

.logo {
  width: 10rem;
  height: 140px;
  margin-left: 2rem;
  display: flex;
  justify-content: start;
}

.nav-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}

.nav-menu ul {
  list-style: none;
  font-weight: bold;
  gap: 30px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 99vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.imagem {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.imagem::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, #0d0d0d, #0d0d0dbf, #0d0d0d00);
  z-index: 1;
  pointer-events: none;
}

.divResultados {
  width: 100%;
  height: 50vh;
  margin-top: 80px;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divInsta {
  background-repeat: no-repeat;
  height: 100%;
}

.divInstaMeio {
  background-repeat: no-repeat;
  height: 100%;
  margin-left: 100px;
  margin-right: 100px;
}

.imgResult {
  width: 500px;
  height: 600px;
  border-radius: 20px;
}

.imgResult:hover {
  transition: all 0.5s ease;
  box-shadow: 0 0 10px #1A347C, 0 0 20px #1A347C;
}

.navbar .nav-link {
  color: white !important;
}

.opcao{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 190px;
  font-size: 20px;
  font-weight: bold;
}

.mob{
  margin-right: 40px;
}

ul li a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  background: transparent;
  padding: 9px;
  cursor: pointer;
  text-shadow: 0 0 5px #000000, 0 0 80px rgb(0, 0, 0);
  transition: all 0.3s ease;
  margin-right: 5rem;
  text-align: center;
}

ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #fff, rgb(255, 255, 255), #fff);
  box-shadow: 0 0 10px #fff, 0 0 20px rgb(255, 255, 255), 0 0 40px #fff;
  opacity: 0;
  transition: opacity 0.4s ease;
}

ul li a:hover {
  color: white;
}

ul li a:hover::after {
  opacity: 1;
}

.quemSomos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55rem;
}

h1 {
  font-size: 70px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
}

h2 {
  font-size: 55px;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

p {
  font-size: 33px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.textoQuemSomos {
  text-align: left;
  width: 500px;
}

#carouselsolucoes {
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 50px;
}

#carouselsolucoes .carousel-inner {
  width: 80%;
  height: 100%;
}

#carouselsolucoes .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#carouselquemsomos {
  width: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

#carouselquemsomos .carousel-inner {
  width: 80%;
  height: 100%;
}

#carouselquemsomos .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

#carouselprodutos {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

#carouselprodutos .carousel-inner {
  width: 80%;
  height: 100%;
}

#carouselprodutos .carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#carouselprodutos2 {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

#carouselprodutos2 .carousel-inner {
  width: 80%;
  height: 100%;
}

#carouselprodutos2 .carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#carouselprodutos3 {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

#carouselprodutos3 .carousel-inner {
  width: 80%;
  height: 100%;
}

#carouselprodutos3 .carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.tituloSep {
  margin-top: 4rem;
}

.chamaWpp {
  text-decoration: none;
  color: #25D366;
  width: 100%;
}

.chamaWpp:hover {
  text-decoration: none;
  color: white;
}

/* Botão WhatsApp */
.whatsapp-button {
  position: fixed;
  display: flex;
  right: 20px;
  bottom: 20px;
  justify-content: end;
  align-items: end;
  background-color: #25D366;
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  transition: background 0.3s;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
  }
  50% {
    transform: scale(1.3);
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}

.orcamento {
  width: 100%;
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divOrcamento {
  margin-top: 50px;
  color: #fff;
  width: 41rem;
  height: 35rem;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px 1px #1f48b8;
  background-color: #0d0d0d;
}

.txtOrcamento {
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.txtOrcamentoUltimo {
  margin-bottom: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tituloOrcamento {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnOrcamento {
  width: 80%;
  height: 80px;
  color: #25D366;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  background-color: transparent;
  border: solid;
  border-color: #25D366;
  border-width: 1px;
  background: linear-gradient(90deg, #25D366 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: all 0.5s ease;
}

.btnOrcamento:hover {
  background-position: 0 0;
  box-shadow: 0 0 12px 1px #25D366;
  color: white;
}

.divFooter {
  background-color: #1A347C;
  width: 100%;
  height: 105px;
}

.txtFooter {
  color: #111111;
  font-size: 18px;
}

.txtFooterDev {
  color: #111111;
  font-size: 16px;
}

.telefone {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  margin-top: 1rem;
}

.divLinha {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divProdutos {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.linha {
  width: 600px;
  height: 0.5px;
  background-color: white;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}

.empresa-titulo {
  text-align: center;
  font-size: 32px;
  margin-top: 140px;
  color: #ffffff;
  font-weight: bold;
}

.intro h1 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.intro p {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 6px 14px;
  border-radius: 8px;
  display: inline-block;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar-toggler-icon {
  background-image: none;
  width: 30px;
  height: 3px;
  background-color: white;
  display: block;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  background-color: white;
  width: 30px;
  height: 3px;
  position: absolute;
  left: 0;
}

.navbar-toggler-icon::before {
  top: -10px;
}

.navbar-toggler-icon::after {
  top: 10px;
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.479);
  height: 40px;
}


/* Footer */
footer {
  font-size: 16px;
  text-align: center;
}

  @media (max-width: 1480px) {
    .divResultados{
      flex-direction: column;
      height: 100%;
    }
    .divInstaMeio{
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    .quemSomos{
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    #carouselsolucoes{
      width: 100%;
      margin-bottom: 30px;
    }
    .textoQuemSomos {
      text-align: center;
      width: 100%;
      margin-bottom: 30px;
    }
    #carouselprodutos{
      width: 100%;
      margin: 0;
    }
    #carouselprodutos2{
      width: 100%;
      margin: 0;
    }
    #carouselprodutos3{
      width: 100%;
      margin: 0;
    }
    #carouselquemsomos{
      width: 100%;
    }
    .texto{
      font-size: 10px;
    }
    #Solucoes{
      height: 100%;
    }

    h1{
      font-size: 50px;
    }
  }

  @media(max-width: 1050px){
    ul li a {
      margin-right: 1rem;
    }

  }

  @media (max-width: 768px) {
    body{
      width: 100%;
    }
    ul li a {
      margin: 0;
    }
    .divResultados{
      flex-direction: column;
      height: 100%;
    }
    .divInstaMeio{
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    .quemSomos{
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    #carouselsolucoes{
      width: 100%;
      margin-bottom: 30px;
    }
    .textoQuemSomos {
      text-align: center;
      width: 100%;
      margin-bottom: 30px;
    }
    #carouselprodutos{
      width: 100%;
      margin: 0;
    }
    #carouselprodutos2{
      width: 100%;
      margin: 0;
    }
    #carouselprodutos3{
      width: 100%;
      margin: 0;
    }
    #carouselquemsomos{
      width: 100%;
    }
    .texto{
      font-size: 10px;
    }
    #Solucoes{
      height: 100%;
    }

    h1{
      font-size: 50px;
    }

    .divOrcamento{
      height: 100%;
      width: 100%;
    }

    .linha {
      width: 30%;
      height: 0.5px;
      background-color: white;
    }

    .divOrcamento{
      height: 100%;
      width: 90%;
    }

  }
  @media(max-width:500px){
    .imgResult{
     width: 70%;
     height: 80%;
    }
    h1{
      font-size: 30px;
    }
    p{
      font-size: 20px;
    }
    .divInstaMeio{
      margin: 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .txtOrcamento {
      margin-bottom: 10px;
      font-size: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .txtOrcamentoUltimo {
      margin-bottom: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .tituloOrcamento {
      font-weight: bold;
      font-size: 40px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .divOrcamento{
      height: 100%;
      width: 90%;
      padding: 30px;
    }
    h2{
      font-size: 40px;
    }
    .logo {
      width: 6rem;
      height: 6rem;
      margin-left: 2rem;
      display: flex;
      justify-content: start;
    }

    .navbar-toggler-icon {
      background-image: none;
      width: 20px;
      height: 3px;
      background-color: white;
      display: block;
      position: relative;
    }

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
      content: "";
      background-color: white;
      width: 20px;
      height: 3px;
      position: absolute;
      left: 0;
    }

    .navbar-toggler-icon::before {
      top: -10px;
    }

    .navbar-toggler-icon::after {
      top: 10px;
    }
    .navbar-toggler {
      border-color: rgba(255, 255, 255, 0.479);
      height: 35px;
    }
  }



