body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: #0d0d0d;
    color: #fff;
  }
  html {
    scroll-behavior: smooth;
  }
   section {
    text-align: center;
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .site-header {
    background-color: black;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 100px 20px;
    min-height: 60vh;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 25px;
  }
  
  .nav-menu ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-menu ul li a:hover {
    color: #0099cc; /* Cor no hover */
  }

  
  h1, h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Carrossel */
  .swiper {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    margin: 50px auto;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
  }
  
  /* Botão WhatsApp */
  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    transition: background 0.3s;
  }
  
  .whatsapp-button:hover {
    background-color: #128C7E;
  }
  
  /* Footer */
  footer {
    background-color: #1a1a1a;
    padding: 30px;
    font-size: 16px;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    h1, h2 {
      font-size: 32px;
    }
  
    p {
      font-size: 18px;
    }
  
    .swiper {
      height: 300px;
    }
  }